{{ partial "global-header.html" . }}

<!-- contact form start -->

<section id="thanks">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ">
        <div class="block" style="padding: 40px; text-align: center;">
          
          <h3>
            Thank you for your interest in Cycle tours India. Your request is important to us. 
            <br> <br>
            We will get back to you shortly.
          </h3>
          
          <hr>

          <p class="center-text" style="padding: 30px;">
            <a class="btn btn-main" href="{{ $.Site.BaseURL }}/tour">Back to all Tours</a>
          </p>

        </div>
      </div>
      
</section>
 
